html, body {
  margin: 0;
  padding: 0;
}

body {
	background-color: black;
	padding-top: 50px;
}

.container {
	width: 600px;
	height: 600px;
	border: 1px solid white;
	margin: auto;
	position: relative;
	background-image: url('../img/background.png');
	background-size: contain;
	background-repeat: repeat-x;
}

.pipebottom {
	display: inline-block;
/*	height: 240px;*/
	width: 60px;
	background-color: blue;
	position: absolute;
/* */
	top: 360px;
	vertical-align: bottom;
	background-image: url('../img/pipeBOTTOM.png');
	background-size: cover;
	background-position: top;
}

.pipetop {
	display: inline-block;
/*	height: 240px;*/
	width: 60px;
	background-color: blue;
	position: absolute;
	background-image: url('../img/pipeTOP.png');
	background-size: cover;
	background-position: bottom;
/*	left: 240px;*/
}

.flappybird {
	height: 30px;
	width: 30px;
	background-image: url('../img/flappybirdsprite.png');
	background-repeat: no-repeat;
	background-size: 30 30;
	background-position: center;
	position: absolute;
	left: 60px;
	top: 280px;
}

.scoreBox {
	width: 120px;
	height: 78px;
	border: 4px solid white;
	position: absolute;
	top: 630px;
	left: 220px;
}

.scoreBox h3 {
	text-align: center;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}